doctype html
html
  head
    head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='description', content='A website dedicated to Sally and James Nadeau.')
      meta(name='author', content='')
      link(rel='shortcut icon', href='assets/ico/favicon.png')
      title Sally And James Are Getting Married!
      //- Bootstrap core CSS
      link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
      link(href='/default.css', rel='stylesheet')

      link(href="https://fonts.googleapis.com/css?family=Acme|Berkshire+Swash", rel="stylesheet")
  body
  #header.navbar.navbar-inverse(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.brand.cursive(href='/') Sally and James
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/tyson/') Tyson
            li
              a(href='/?') Calvin
    
    #container.container.animated.fadeInRight
       block content
         div !{content}
    
    
    //- Bootstrap core JavaScript
    //- ==================================================
    //- Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    block scripts
      script
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-55955906-1', 'auto');
      ga('send', 'pageview');
